.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: max-content;
    align-items: center;
}

.row {
    display: flex;
    gap: 8px;
}

.button {
    margin-bottom: 1rem;
}
