.tasks {
    max-width: 600px;
}

.row {
    display: flex;
    align-items: center;
    flex-grow: initial;
    gap: 8px;
}

.button {
    margin-bottom: 1rem;
}

.radiogroup {
    margin-bottom: 16px;
}
